.detalhes-servico {
    background-color: #f3f4f6;
    padding: 50px 20px;
    text-align: center;
  }
  
  .container-detalhes {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .detalhes-servico .title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  #conteudo-detalhes {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    text-align: left;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .saiba-mais{
    background: #25d366;
    color: #fff;
    border: none;
    padding: 8px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
  }