#testimonials {
    padding: 50px 10px;
    font-family: 'Trirong', serif;
    background-color: #f3f4f6;
}

#testimonials h2 {
    text-align: center;
    font-family: 'Abhaya Libre', serif;
    margin-bottom: 40px;
    font-size: 46px;
}

.testimonials {
    max-width: 800px;
    margin: 0px auto;
    font-family: 'Trirong', serif;
}

blockquote {
    background: rgb(248, 249, 250);
    padding: 20px;
    border-left: 5px solid rgb(40, 167, 69);
    margin: 20px 0px;
    font-family: 'Trirong', serif;
}

blockquote p {
    font-size: 18px;
    color: rgb(102, 102, 102);
    line-height: 1.6;
    font-family: 'Trirong', serif;
}

blockquote cite {
    font-family: 'Trirong', serif;
}